/* 
- shodow: box-shadow: 0rem 0.2rem 1rem #adadad;
- shadow hover: box-shadow: .1rem 0.4rem 1rem #adadad;



- p line height: 1.8


*/





/* *************************** */
/* general style */
/* *************************** */
.grid {
    display: grid;
    /* gap: 10rem; */
}
.grid__column-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid__column-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid__row-2 {
    grid-template-rows: repeat(2, 1fr);
}
.grid__row-3 {
    grid-template-rows: repeat(3, 1fr);
}



/* *************************** */
/* general style */
/* *************************** */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: var(--grayblue);
    color: #fff;
}
:root {
    --pink: #ff52bf;
    --palecyan: #ebfbff;
    --darkcyan: #00252e;
    --grayblue: #808d99;
}
html {
    font-size: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: #333;
    line-height: 1.5;
    background-color: #FCFCFC;
}
.container {
    width: 90%;
    margin: 0 auto;
}



/* *************************** */
/* header style */
/* *************************** */

header {
    background-image: url("../images/bg-hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--palecyan);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
}
.header > img {
    /* width: 15rem; */
    width: 20%;
}
.header__nav a:link,.header__nav a:visited {
    text-decoration: none;
    color: #333;
    padding: 1rem 6rem;
    background-color: #FCFCFC;
    box-shadow: 0rem 0.2rem 1rem #adadad;
    border-radius: 6rem;
    transition: all .3s;
}
.header__nav a:hover,.header__nav a:active {
    background-color: var(--palecyan);
    box-shadow: .1rem 0.4rem 1rem #adadad;
    color: #050505;
}
.header__content {
    gap: 15rem;
    justify-items: center;
    align-items: center;
    padding: 8rem 2rem;
}
.header__content--text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
}
.header__content--text h1 {
    font-weight: 600;
    text-transform: capitalize;
}
.header__content--text p {
    font-weight: 400;
    line-height: 1.8;
}
.header__content--img img {
    width: 100%;
}
.header__content--text a:link,.header__content--text a:visited {
    display: flex;
    text-decoration: none;
    color: #333;
    padding: 1rem 4rem;
    background-color: var(--pink);
    box-shadow: 0rem 0.2rem 1rem #adadad;
    border-radius: 6rem;
    transition: all .3s;
}
.header__content--text a:hover,.header__content--text a:active {
    background-color: var(--palecyan);
    box-shadow: .1rem 0.4rem 1rem #adadad;
    color: #050505;
}

/* *************************** */
/* footer style */
/* *************************** */

main {
    padding-top: 15rem;
}
.boxes {
    gap: 5rem;
}
.box {
    align-items: center;
    gap: 10rem;
    padding: 6rem;
    box-shadow: 0 0 0.4rem #aaa;
    border-radius: 1.5rem;
}
.box__image img {
    width: 100%;
}
.box__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}
.box__content h2 {
    font-size: 2.4rem;
}
.box__content p {
    line-height: 1.8;
    font-weight: 400;
    color: #AAAAAA;
    font-size: 1.6rem;
}
.box__content2 {
    grid-column: 2 / 3;
}
.box__image2 {
    grid-row: 1 / 2;
}

.build {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 50%;
    margin: 15rem auto;
    box-shadow: 0 0 0.4rem #aaa;
    border-radius: 1.5rem;
    padding: 5rem;
    text-align: center;
}
.build a:link, .build a:visited {
    text-decoration: none;
    color: #333;
    background-color: var(--pink);
    padding: 1rem 4rem;
    border-radius: 6rem;
    box-shadow: 0rem 0.2rem 1rem #adadad;
    transition: .3s;
}
.build a:hover, .build a:active {
    background-color: var(--palecyan);
    box-shadow: .1rem 0.4rem 1rem #adadad;
    color: #000;
}


/* *************************** */
/* main style */
/* *************************** */



/* *************************** */
/* footer style */
/* *************************** */

footer {
    background-color: var(--darkcyan);
    color: #aaa;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    font-size: 1.6rem;
    line-height: 1.8;
}
.logo img {
    width: 20rem;
}
.footer__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 5rem;
    justify-items: center;
}
.footer__content a:link, .footer__content a:visited {
    text-decoration: none;
    color: #aaa;
    transition: all .3s;
}
.footer__content a:hover, .footer__content a:active {
    color: var(--pink);
}
li {
    list-style: none;
    padding: .5rem 0;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}
.information__location {
    display: flex;
    gap: 2rem;
    align-items: start;
}
.information__location img {
    margin: .5rem;
}
.information__phone {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.information__email {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.icons {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.icons ion-icon {
    font-size: 2rem;
    border: .2rem solid #aaa;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    transition: all .3s;
}
.icons ion-icon:hover {
    color: var(--pink);
    border: .2rem solid var(--pink);
}
.copy {
    align-self: end;
    padding: 5rem 0;
}
/* *************************** */
/* footer style */
/* *************************** */